fastapi
uvicorn
openai
pydantic
pillow
chromadb
sentence-transformers
transformers
accelerate
safetensors
torch
python-dotenv
peft
langchain
langchain-community
langchain-core
langchain-openai
hf_transfer
rfc3987
